.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid #ddd;

    .left-side{
        display: flex;
        align-items: center;
        gap: 25px;

        .logo{
            font-size: 20px;
            font-weight: bold;
        }
    }

    .right-side{
        display: flex;
        align-items: center;
        gap: 15px;

    }
}